main {
    font-family: "Roboto", sans-serif;
}
/* Inicio -> Estilo Header */
header {
    text-align: center;
    margin-bottom: 20px
}
header img {
    margin: 0 auto;
}
  
header h1 {
    /*font-size: 2.5rem;*/
    color: palevioletred;
}
  
.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    row-gap: 20px;
}
 
.nav-list li {
    margin: 5px;
}
  
.nav-list a {
    text-decoration: none;
    color: #ff91a4; /* Rosa claro */
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid palevioletred;
}
/* Fin -> Estilo Header */

/* Inicio -> Estilo Carrito de compras */
#carrito-compras {
    background-color: #f5f5dc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 400px;
    margin: 20px auto; /* Centrar el carrito */
}
  
#carrito-compras h2 {
    color: palevioletred;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
  
#lista-carrito {
    list-style: none;
    padding: 0;
}
  
#lista-carrito li {
    background-color: #ffb6c1;
    color: white;
    border: 1px solid #ff91a4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lista-carrito input {
    width: 50px;
    padding: 5px;
    border: 2px solid #ff91a4; /* Borde rosa claro */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fffaf0; /* Fondo blanco hueso */
    color: #333;
    transition: border-color 0.3s ease;
}
  
#lista-carrito input:focus {
    border-color: #ff748c; /* Borde más oscuro al enfocar */
    outline: none;
}
  
#lista-carrito button {
    background-color: #ff748c; /* Rosa oscuro */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
#total-carrito {
    font-weight: bold;
    color: palevioletred;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}
  
#pagar {
    background-color: #ff91a4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}
button {
    background-color: #ffb6c1;
    color: white; border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input.cant {
    width: 50px;
    padding: 5px;
    border: 2px solid #ffb6c1;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fffaf0;
    color: #333;
}
/* Fin -> Estilo Carrito de compras */

/* Inicio -> Estilo Resenas */
#reseñas {
    background-color: #fffaf0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}
  
#reseñas h3 {
    color: palevioletred;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
  
#reseñas p {
    color: #770c54;
    font-size: 1.2rem;
    text-align: center;
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
  
.resena {
    background-color: #ffb6c1;
    padding: 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.resena p {
    margin: 10px 0;
}
  
.resena p:first-child {
    font-weight: bold;
}
  
/* Fin -> Estilo Resenas */
/* Inicio -> Estilo Inicio */
#inicio {
    background-color: #fffaf0; /* Fondo blanco hueso */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto; /* Centrar la sección */
    text-align: center;
  }
  
  #inicio p {
    color: #ff91a4; /* Rosa claro */
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  #inicio h3 {
    color: palevioletred;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  audio,
  video {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border: 2px solid #ff91a4; /* Borde rosa claro */
    border-radius: 10px;
  }
  
/* Fin -> Estilo Inicio */
/* Inicio -> Estilo Productos */
#productos{
    background-color: #FEF9F2;
}
.producto h3 {
    color: #e07587;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }  
#productos img {
    border: 2px solid #ffb6c1;
    border-radius: 5px;
}
div.productos{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    padding: 0px 5% 0px 5%;
    justify-content: center;
}
p.sku {
    font-size: smaller;
    font-style: italic;
    font-weight: 700;
}
p.precio {
    font-weight: 200;
}
div.producto{
    flex-direction: column;
    text-align: center;
}
/* Fin -> Estilo Productos */

/* Inicio -> Estilo Contactanos */
#contacto {
    background-color: #fffaf0; /* Fondo blanco hueso */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto; /* Centrar la sección */
}
  @media only screen and (max-width: 600px){
    #contacto {
        background-color:beige;
        max-width: 90%;
    }
}
  
#contacto h3 {
    color: palevioletred;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
  
#contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
  #contacto label {
    font-size: 1.2rem;
    color: #ff91a4; /* Rosa claro */
}
  

#contacto input,
#contacto textarea {
    width: 95%;
    padding: 10px;
    border: 2px solid #ff91a4;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
}
  
#contacto input[type="submit"] {
    background-color: #ff91a4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
  
#contacto p {
    text-align: center;
    margin-top: 20px;
    color: #ff91a4;
    font-size: 1rem;
}
/*                              */

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 600px){
    .grid-container {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 1000px){
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}